{{ "create-bracelet.css" | asset_url | stylesheet_tag }}
<div class="twocol-wrapper">

        <div class="product-wrapper">
            <div class="product-cont">
                <h2>Classic With String</h2>
                <div class="product-summery">
                    <p>Bracelet size: <b>Medium (17cm / 6.7”)</b></p>
                    <p>Color: <b>S02 (Black)</b></p>
                    <p>Lock Style: <b>LK02 (18K Gold Plated)</b></p>
                    <p>Gender: <b>Male</b></p>
                    <p>Base Price: <b>$229</b></p>
                </div>
                <div class="stone-costing">
                    <div class="stone-group">
                        <div>ID</div>
                        <div>Name</div>
                        <div>Price</div>
                    </div>
                    <div class="stone-group">
                        <div>1069</div>
                        <div>ROSE QUARTZ</div>
                        <div>0</div>
                    </div>
                    <div class="stone-group">
                        <div>1068</div>
                        <div>AGATE</div>
                        <div>0</div>
                    </div>
                    <div class="stone-group">
                        <div>1065</div>
                        <div>MATTE TIGER EYE</div>
                        <div>0</div>
                    </div>
                </div>
                <div class="total-fare">$<span class="price-count">229</span></div>
                <div class="product-action">
                    <input class="quantity" name="quantity" value="1" size="2">
                    <button class="add-cart" type="submit" value="add to cart">Add to Cart</button>
                </div>
            </div>
            <div class="product-beautify style-1">
                <div id="parker" class="size-m">
                    <img id="lockEr" src="assets/style1- charmA-silver.png" role="presentation" data-ac-alt-type="image">
                    <img id="emBrace" src="assets/style1- charmB-gold.png" role="presentation" data-ac-alt-type="image">
                    <img id="baseEr" src="assets/style1- 2charms-gold-blackstring.png" role="presentation" data-ac-alt-type="image">
                    <div class="dropper" id="drop24"></div>
                    <div class="dropper" id="drop23"></div>
                    <div class="dropper" id="drop22"></div>
                    <div class="dropper" id="drop21"></div>
                    <div class="dropper" id="drop20"></div>
                    <div class="dropper" id="drop19"></div>
                    <div class="dropper" id="drop18"></div>
                    <div class="dropper" id="drop17"></div>
                    <div class="dropper" id="drop16"></div>
                    <div class="dropper" id="drop15"></div>
                    <div class="dropper" id="drop14"></div>
                    <div class="dropper" id="drop13"></div>
                    <div class="dropper" id="drop12"></div>
                    <div class="dropper" id="drop11"></div>
                    <div class="dropper" id="drop10"></div>
                    <div class="dropper" id="drop9"></div>
                    <div class="dropper" id="drop8"></div>
                    <div class="dropper" id="drop7"></div>
                    <div class="dropper" id="drop6"></div>
                    <div class="dropper" id="drop5"></div>
                    <div class="dropper" id="drop4"></div>
                    <div class="dropper" id="drop3"></div>
                    <div class="dropper" id="drop2"></div>
                    <div class="dropper" id="drop1"></div>
                </div>
            </div>
        </div>
        
        <div class="assets-wrapper">
            <div class="button-set">
                <button class="assets-btn" id="bracelet-size">BRACELET SIZE</button>
                <button class="assets-btn" id="beads">BEADS</button>
                <button class="assets-btn" id="string-color">STRING COLOR</button>
                <button class="assets-btn" id="lock-style">LOCK STYLE</button>
            </div>
            <div class="assets-sidebar" id="bracelet-size-sidebar">
                <div class="sidebar-cont">
                    <div class="sidebar-grid">
                        <div class="size-card">
                            <h5>XXS</h5>
                            <p>Extra Extra Small (15cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>XS</h5>
                            <p>Extra Small (16cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>S</h5>
                            <p>Small (17cm)</p>
                        </div>
                        <div class="size-card active">
                            <h5>M</h5>
                            <p>Medium (18cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>L</h5>
                            <p>Large (19cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>XL</h5>
                            <p>Extra Large (20cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>XXL</h5>
                            <p>Double Extra Large (21cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>XXXL</h5>
                            <p>Triple Extra Large (22cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>4XL</h5>
                            <p>Four Extra Large (23cm)</p>
                        </div>
                        <div class="size-card">
                            <h5>5XL</h5>
                            <p>Five Extra Large (24cm)</p>
                        </div>
                    </div>
                </div>
                <div class="sidebar-actions">
                    <span class="close-btn cross">⨯</span>
                    <span class="close-btn check">✓</span>
                </div>
            </div>
            <div class="assets-sidebar" id="beads-sidebar">
                <p class="sidebar-header">Precious Stone Beads:</p>
                <div class="sidebar-cont">
                    <div class="sidebar-grid">
                        <div class="stone-card">
                            <img src="assets/design_1.webp" alt="">
                            <div class="stone-cont">
                                <h6>ROSE QUARTZ</h6>
                                <p>LOVE, HARMONY, POSITIVITY</p>
                            </div>
                        </div>
                        <div class="stone-card">
                            <img src="assets/design_2.png" alt="">
                            <div class="stone-cont">
                                <h6>AGATE</h6>
                                <p>WISDOM, CONFIDENCE, PROSPERITY</p>
                            </div>
                        </div>
                        <div class="stone-card">
                            <img src="assets/design_3.png" alt="">
                            <div class="stone-cont">
                                <h6>RED TIGER EYE</h6>
                                <p>INSIGHT, CONFIDENCE, STRENGTH</p>
                            </div>
                        </div>
                        <div class="stone-card">
                            <img src="assets/design_4.png" alt="">
                            <div class="stone-cont">
                                <h6>MATTE TIGER EYE</h6>
                                <p>INSIGHT, CONFIDENCE, BALANCE</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-actions">
                    <span class="close-btn cross">⨯</span>
                    <span class="close-btn check">✓</span>
                </div>
            </div>
            <div class="assets-sidebar" id="string-color-sidebar">
                <div class="sidebar-cont">
                    <div class="sidebar-grid">
                        <div class="stringcolor-card">
                            <img src="assets/white.png" alt="">
                            <h6>White</h6>
                        </div>
                        <div class="stringcolor-card active">
                            <img src="assets/black.png" alt="">
                            <h6>Black</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/beige.png" alt="">
                            <h6>Beige</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/navy.png" alt="">
                            <h6>Navy</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/blue.png" alt="">
                            <h6>Blue</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/denim.png" alt="">
                            <h6>Light Blue</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/purple.png" alt="">
                            <h6>Purple</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/red.png" alt="">
                            <h6>Red</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/yellow.png" alt="">
                            <h6>Yellow</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/green.png" alt="">
                            <h6>Green</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/brown.png" alt="">
                            <h6>Brown</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/grey.png" alt="">
                            <h6>Grey</h6>
                        </div>
                        <div class="stringcolor-card">
                            <img src="assets/pink.png" alt="">
                            <h6>Fuchsia</h6>
                        </div>
                    </div>
                </div>
                <div class="sidebar-actions">
                    <span class="close-btn cross">⨯</span>
                    <span class="close-btn check">✓</span>
                </div>
            </div>
            <div class="assets-sidebar" id="lock-style-sidebar">
                <div class="sidebar-cont">
                    <div class="sidebar-grid">
                        <div class="lockstyle-card">
                            <img src="assets/SilverLockSwatch.png" alt="">
                            <h6>Silver Finish</h6>
                        </div>
                        <div class="lockstyle-card active">
                            <img src="assets/GoldLockSwatch.png" alt="">
                            <h6>18K Gold Plated</h6>
                        </div>
                        <div class="lockstyle-card">
                            <img src="assets/RosegoldLockSwatch.png" alt="">
                            <h6>18K Rose Gold Plated</h6>
                        </div>
                        <div class="lockstyle-card">
                            <img src="assets/TitaniumLockSwatch.png" alt="">
                            <h6>18K Ruthenium Plated</h6>
                        </div>
                    </div>
                </div>
                <div class="sidebar-actions">
                    <span class="close-btn cross">⨯</span>
                    <span class="close-btn check">✓</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Java Scripts -->
    <script src="{{ "create-bracelet.js" | asset_url }}" defer></script>